{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% blocktrans %}Participate{% endblocktrans %}{% endblock title %}


{% block content %}
<h2>{% blocktrans %}EcoGardenHealth Soil Sampling Questionnaire{% endblocktrans %}</h2>
<h6>{% blocktrans %}The survey will take approximately 9 minutes to complete.{% endblocktrans %}</h6>
<div>
    <p>{% blocktrans %}Thank you very much for participating in the EcoGardenHealth soil testing program run by researchers from the Bioscience Department of Swansea University. Whether you are a keen gardener, garden picnic enthusiast or just like watching the kids digging holes and playing with dirt – you may wonder what is in your soil and what it means for you and our community. All soil contains many different metals (such as lead or copper) as well as a variety of elements, minerals and nutrients. These occur naturally and are an important part of what makes our soil so valuable for a productive garden ecosystem while causing imbalances and health risk at overly high concentrations. We are sharing this interest with the vision to explore gardens as ecosystems and their multifunctional role in providing a safe and productive space for growing fruits and vegetables, wildlife, relaxation, and human and animal health.{% endblocktrans %}</p>
    <p>{% blocktrans %}As part of your participation in this program, we would like to be able to use the results to produce maps and summary statistics to process information from a large number of participants. The data and mapped information will be de-identified to the extent that the locations will only be accurate to within 50m and no names, addresses or other information will be included that can be used to specifically identify the locations of any samples provided. We may also use the same results, with your permission, in future scientific publications, again with the aforementioned conditions. Therefore, in signing this form you acknowledge consent for these purposes.{% endblocktrans %}</p>
    <p>{% blocktrans %}We have run our project past the relevant research approval authorities at Swansea University and it has been concluded that any ethical approval for human research does not apply, since the collection of soil samples and the proposed analysis for academic research purposes only do no relate specifically to human health, medicine or human research.{% endblocktrans %}</p>
    <p>{% blocktrans %}We will provide you with a summary of the results from your samples via our online portal, as well as a later summary of the results from across Swansea gardens.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please find soil sampling {% endblocktrans %}<a href="{% url 'instructions' %}">{% trans "instructions"%}</a>{% blocktrans %} on our website.{% endblocktrans %}</p>
    <p>{% blocktrans %}We are also interested in soil samples from allotments; for these, please provide address and unique allotment number in the address field.{% endblocktrans %}</p>
</div>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock content %}
