{% extends 'base.html' %}

{% block title %}Success!{% endblock title %}

{% block content %}
<h2>You have successfully submitted your participation form!</h2>
<p>Thank you for participating in the EcoGardenHealth soil testing citizen science project.</p>
<p>This is your unique soil sample label number:</p>
{% for participant in user.participant.all reversed %}
    {% if forloop.first %}
        <h4>{{ participant.sample_number }}</h4>
    {% endif %}
{% endfor %}
<p>Please write it on all of your soil sample bags before delivering or posting them to the university.</p>
<p>For more information on how to submit your soil sample, please visit our <a href="{% url 'instructions' %}">instructions</a> page.</p>
{% endblock content %}
